---
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang={"en"}>
  <head>
    <meta name={"generator"} content={Astro.generator} />
    <meta name={"viewport"} content={"width=device-width"} />
    <SEO
      charset={"UTF-8"}
      title={"Svetlicinâi Radu - Portfolio"}
      canonical={"https://svetlyr.github.io/"}
      openGraph={{
        basic: {
          type: "website",
          image: "/og-favicon.png",
          url: "https://svetlyr.github.io/",
          title: "Svetlicinâi Radu - Experienced Full Stack Web Developer ",
        },
        image: {
          alt: "Profile picture and website logo",
        },
      }}
      extend={{ link: [{ rel: "icon", type: "image/png", href: "/favicon.png" }] }}
      description={"Full Stack Web Developer with a proven track record of working in the industry. I prefer my actions speak for themselves."}
    />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
          Courier New, monospace;
      }
    </style>
  </body>
</html>
